<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
	<title>LB02 SBB Profile reader</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="../../index.html">
	   <h1 id="logo">SBB Profil reader</h1>
       <p>WebWeDo LB02 - TBZ</p>
    </a>
	<img class="logo" src="../../images/logo.png" alt="webwedo logo" width="254px;">
</header>

<main>

	<nav id="navigation">
	<ul>
			<li><a aria-current="page" class="nava" href="../../index.html">Home</a></li>
			<li><a aria-current="page" class="nava" href="../profile/profile.html">Mein Profil</a></li>
			<li><a aria-current="page" class="nava" href="../about/about.html">Über uns</a></li>
	</ul>
	</nav>
     	
	<section id="intro">   
	<h2>Hier deine ID <span>von deiner Karte</span></h2>
	{{ get_id }}
    </section>

</main>

<footer class="grid">
    <ul id="footer-nav">
		<li><a href="https://data.sbb.ch/api/v1/console" title="SBB API">SBB API</a></li>
		<li><a href="../../controller/contacts/contacts.html" title="">Kontakt</a></li>

	</ul>   
</footer>  
    
</body>
</html>