<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style_about.css">
	<title>LB02 SBB Profile reader</title>
</head>
<body>

<header>
    <a class="ribbon" tabindex="-1" title="zurück zur Startseite!" href="../../index.html">
	   <h1 id="logo">SBB Profil reader</h1>
       <p>WebWeDo LB02 - TBZ</p>
    </a> 
	<img class="logo" src="../../images/logo.png" alt="webwedo logo" width="254px;">
</header>

<main>

	<nav id="navigation">
	<ul>
			<li><a aria-current="page" class="nava" href="../../index.html">Home</a></li>
			<li><a aria-current="page" class="nava" href="../profile/profile.html">Mein Profil</a></li>
			<li><a aria-current="page" class="nava" href="about.html">Über uns</a></li>
	</ul>
	</nav>
     	
	<section id="intro">   
	<h2>Über uns <span>erfährst du hier alles Mögliche.</span></h2>
	<div class="box_about">
		<p align="justify">Wir sind drei Informatiker Applikationsentwicklung EFZ Lernende in der Schweiz in Zürich. 
		Unsere Firma "WebWeDo" hat ebenfalls seinen Sitz in Zürich und wird aktuell von <b>Teodora Todorovic</b> geleitet.
		Wichtiger Bestandteil des Teams sind ebenfalls <b>Gökmen Kaan Erdem und Justin Raul Feliz</b>, die das Team schlussendlich vervollständigen.</p>
		<p align="justify">Der SBB Profile reader von WebWeDo wird am <b>01.04.2022</b> offiziel produktiv gestellt.
			Verschiedene User, also ihr, könnt dann die Seite nutzen und von den vielen guten und nützlichen Features profitieren. </p>
	<p align="justify">Nutzung: Mit dem IotKit kannst du deinen Swisspass einlesen. Deine Daten werden dann genommen und bei uns sicher gespeichert. 
		Diese Daten werden anschliessend auf der übersichtlichen <a href="../profile/profile.html">Mein Profil</a> Seite angezeigt und benutzerfreundlich dargestellt.
		Du siehst nebst all deinen möglichen Swisspass-Daten zusätzlich die, aus den Daten berechnete, Gültigkeitsdauer.
		Auf der Seite kannst du auch noch einige andere Elemente nutzen, wie die Ausgabe verschiedenere nützlicher Abos von der SBB etc.</p>
	<p align="justify"><b>Am besten erkundigst du dich selbst und stöberst durch die Seite! Los gehts!</b></p>
</div>
    </section>
</main>
<div class="box_team">
<h2>Unser Team</h2>
    <div class="spalte">
			<div class="row">
				<div class="column">
				  <div class="card">
					<img src="../../images/portrait_tea.jpg" alt="Foto von Teodora" style="width:100%">
					<div class="container">
					  <h3>Teodora Todorovic</h3>
					  <p class="title">CEO & Backend-Developer </p>
					  <p>Durch meine langjährige Erfahrung im Business- und IT-Bereich führe ich das Unternehmen zielgerecht und motivierend.</p>
					  <p>Meine Firma WebWeDo erleichtert vielen stolzen Kunden die Informationsausgabe ihrer Swisspass Daten.</p>
					  <p>Mail: <b>teodora.todorovic@edu.tbz.ch</b></p>
					  <p><button onclick="location.href='../../controller/contacts/contacts.html'" type="button" class="button">Kontakt aufnehmen</button></p>
					</div>
				  </div>
				</div>
				<div class="column">
				  <div class="card">
					<img src="../../images/portrait_gkaan.jpg" alt="Foto von Gökmen" style="width:100%">
					<div class="container">
					  <h3>Gökmen Kaan Erdem</h3>
					  <p class="title">Frontend-Designer & Database-Developer</p>
					  <p>Ich weiss, wie Kunden ticken und auf Änderungen auf einer Oberfläche reagieren.</p>
					  <p>Mein Knowledge im Frontend- und Database-Management Bereich hilft dem Team treue Kunden zu gewinnen und mit Daten rücksichtsvoll umzugehen.</p>
					  <p>Mail: <b>goekmen.erdem@edu.tbz.ch</b></p>
					</div>
				  </div>
				</div>
				<div class="column">
				  <div class="card">
					<img src="../../images/portrait_justin.jpg" alt="Foto von Justin" style="width:100%">
					<div class="container">
					  <h3>Justin Raul Feliz</h3>
					  <p class="title">Communications & Database-Developer </p>
					  <p>Damit unsere Webapplikation nachhaltig lebt, werden wichtige dazugehörige Dokumentationen und Deklarationen benötigt. </p>
					  <p>Durch meine Arbeit im Bereich Communications -und Database-Management sorge ich dafür, dass unsere Applikation immer auf dem aktuellen Stand bleibt.</p>
					  <p>Mail: <b>justin.feliz@edu.tbz.ch</b></p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		</div>



<footer class="grid">
    <ul id="footer-nav">
		<li><a href="https://data.sbb.ch/api/v1/console" title="SBB API">SBB API</a></li>
		<li><a href="../../controller/contacts/contacts.html" title="">Kontakt</a></li>

	</ul>   
</footer>  
    
</body>
</html>